/* Grid dos formulários */

.formulario :is(.form-grid-1, .form-grid-3, .form-grid-4) {
  display: grid;
  gap: 0.5rem;
}

.formulario .form-grid-1 {
  grid-template-columns: minmax(0, 1fr);
}

.formulario .form-grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.formulario .form-grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.formulario .form-input.image {
  grid-column: span 3;
}

/* Responsividade */

@media (max-width: 970px) {
  .formulario :is(.form-grid-3, .form-grid-4) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .formulario .form-input.image {
    grid-column: span 2;
  }
}

@media (max-width: 560px) {
  .formulario :is(.form-grid-3, .form-grid-4) {
    grid-template-columns: minmax(0, 1fr);
  }

  .formulario .form-input.image {
    grid-column: span 1;
  }
}
