@import "tailwindcss";

@theme {
  /* Cores Azuis */
  --color-blue-custom-700: oklch(48.8% 0.243 264.376);
  --color-blue-custom-50: oklch(97% 0.014 254.604);
  --color-blue-custom-200: oklch(88.2% 0.059 254.128);

  /* Cores Laranjas */
  --color-orange-custom-700: oklch(55.3% 0.195 38.402);
  --color-orange-custom-50: oklch(98% 0.016 73.684);
  --color-orange-custom-200: oklch(90.1% 0.076 70.697);

  /* Cor Verde */
  --color-green-custom-50: oklch(94.935% 0.02934 191.642 / 0.896);

  /* Cor button verdde */
  --color-custom-button: #009999;
  --color-custom-button-hover: #006666;

  /* Sistema / Inputs / Foco */
  --color-pneu-input: #f0f2f5;
  --color-pneu-menus: #dde1e7;

  /* cores textos */
  --color-black-russian: #1a202c;
  --color-cinza-claro: #6b7280;
}
