.notification {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header-logo {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-size: 1.2rem;
}

.header-logo img {
  align-items: center;
  justify-content: center;
  width: 3rem;
  grid-row: 1/3;
}

.header-logo p {
  color: var(--card-foreground);
  font-weight: 900;
  position: relative;
}

.header-logo span {
  grid-column: 2;
  color: var(--muted-foreground);
}

.header-buttons {
  display: flex;
  gap: 1rem;
}

.header-buttons .refresh,
.header-buttons .notificationImg {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: none;
  color: var(--muted-foreground);
  display: flex;
}

.notificationImg {
  width: 2rem;
  background: url("../img/icons/bell-regular-full.svg") no-repeat;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}
