.descriptionPage {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.descriptionPage span {
  font-weight: 900;
  text-decoration: underline;
  text-transform: uppercase;
}

/*cores da descrição da seção cadastro individual*/
.cadastroIndividual .descriptionPage {
  background: var(--bg-blue-50);
  border: 1px solid var(--border-blue-200);
}

.cadastroIndividual .descriptionPage h5 {
  color: var(--text-blue-700);
}

/*cores da descrição da seção cadastro por quantidade*/
.cadastroQuantidade .descriptionPage {
  background: var(--bg-orange-50);
  border: 1px solid var(--border-orange-200);
}

.cadastroQuantidade h5 {
  color: var(--text-orange-700);
}

/*Estilizano section catalago de pneus*/

.catalagoPneus.formulario {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  gap: 0.5rem;
  padding: 0.4rem;
}

.catalagoPneus.formulario thead {
  background: var(--ring);
  color: #ffffff;
  border-radius: 0.2rem;
}
.catalagoPneus.formulario tbody {
  text-align: center;
}

.catalagoPneus.formulario tbody tr {
  cursor: pointer;
}

/*Estilizano o painel do catalago de pneus*/

.painelPneus .painel-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem 0.5rem;
  align-items: center;
}

.painelPneus .painel-header p {
  color: var(--muted-foreground);
}

.painelPneus .painel-header .painel-vida {
  background: var(--ring);
  border-radius: 50%;
  padding: 3px;
  color: #ffffff;
}

.painelPneus .painel-corpo {
  padding: 0 0.5rem;
}

.painelPneus .painel-linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--switch-background);
  margin-bottom: 0.5rem;
}
